.carousel-item{
    width: 540px !important;
    height: 810px !important;
}
.carousel {
    height:820px !important;
}
body {
    background-color: black;
}
#logo {
    height: 100% !important;
    padding-left: 10px !important;
}
#menu {
    height: 30% !important;
    /* padding-top: 5px !important; */
}
.row {
    margin-bottom: 0px;
}
.row-when-small{
    display: none;
}
@media (max-width: 992px){
    .row-when-large {
        display: none;
    }
    .row-when-small {
        display: block;
    }
    
}
